<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <ul>
			<li> <b>Travelling: I like to experience different places and cultures. </b> 
			<li> <b>Photography: I am an amateur photographer and like to capture the beauty in everything.</b> 
			<li> <b>videography: I have filmed and edited music videos and youtube videos for people. </b> 
			<li> <b>Trading: I believe everyone should invest </b>
			<li> <b>Sports: keeping fit and healthy is very important to me, so i like to keep moving when I'm not infront of the computer.</b>
		</ul>
    </article>
</section>